@import "../../styles/colors.scss";
@import "../../styles/fontStyles.scss";
.form {
    width: 100;
    background-color: $whiteDark;
    padding: 15px 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.title {
    color: $blackNoraml;
}

.greenCircle {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-left: 10px;
    background-color: $green;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: $green 0 0 5px;
}

.subTitle {
    font-size: $fontSizeSmall;
    color: $blackBright
}

.formInputsContainer {
    text-align: center;
    margin-top: 10px;
}

.textInput {
    background-color: $whiteBright;
    padding: 3px 8px;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 2px solid $whiteBright;
    transition: border-color 200ms;
    -webkit-transition: border-color 200ms;
    -moz-transition: border-color 200ms;
    -ms-transition: border-color 200ms;
    -o-transition: border-color 200ms;
    &:focus {
        border: 2px solid $blueBright;
        transition: border-color 200ms;
        -webkit-transition: border-color 200ms;
        -moz-transition: border-color 200ms;
        -ms-transition: border-color 200ms;
        -o-transition: border-color 200ms;
    }
}

.submitButton {
    display: inline-block;
    cursor: pointer;
    padding: 3px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: $blueViolet;
    color: $whiteBright;
    transition: background-color 200ms;
    -webkit-transition: background-color 200ms;
    -moz-transition: background-color 200ms;
    -ms-transition: background-color 200ms;
    -o-transition: background-color 200ms;
    &:hover {
        background-color: $green;
        transition: background-color 200ms;
        -webkit-transition: background-color 200ms;
        -moz-transition: background-color 200ms;
        -ms-transition: background-color 200ms;
        -o-transition: background-color 200ms;
    }
}