@import "../../styles/colors.scss";
@import "../../styles/fontStyles.scss";
@import "../../styles/mediaQueyrBreakPoints.scss";
.singleWhyContainer {
    color: $blackBright;
    width: 260px;
}

.reasonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reason {
    font-size: $fontSizeNormal;
    font-weight: bold;
    margin-right: 10px;
}

.reasonBar {
    flex: auto;
    border-bottom: solid 4px;
}

// Media queries @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media only screen and (max-width: $smallWidth) {
    .singleWhyContainer {
        min-width: 240px;
        margin-right: 20px;
    }
}