    @import "../../styles/colors.scss";
    @import "../../styles/fontStyles.scss";
    @import "../../styles/mediaQueyrBreakPoints.scss";
    .footerContainer {
        margin: auto;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: $blueViolet;
        color: $whiteBright;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .footerMainContent {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .brand {
        width: 60px;
        margin-right: 20px;
    }
    
    .love {
        width: 15px;
    }
    
    .linkToiLoveSemicolons {
        text-decoration: underline;
    }
    
    //@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    @media only screen and (max-width: $smallWidth) {
        .footerContainer {
            text-align: center;
        }
        .brand {
            width: 45px;
            margin-right: 0;
        }
    }