$blackDark: #202020;
$blackNoraml: #2C2F33;
$blackBright: #4D4D4D;
$whiteDark: #D4D4D4;
$whiteNormal: #E1E1E1;
$whiteBright:#EEEEEE;
$whiteExtra :#ffffff;
$blueViolet: #4568DC;
$blueBright: #2BA0FF;
$red: #E56C6C;
$orange: #FF512F;
$yellowDark: #FFAF26;
$yellowNormal: #FFCB26;
$green: #50CF96;